################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DAX/FileContentIndex/857cb1c5-03d9-4127-9a2e-3c8e690540a9.vsidx
/.vs/DAX/FileContentIndex/f9e64baf-b0a0-4bc0-acf7-3479bf69ec87.vsidx
/.vs/DAX/FileContentIndex
/.vs/slnx.sqlite
